$primary-color: #1d3557;
$error-color: #e63946;
$bg-color: #f1faee;
$text-color: #e7e7e7;
$input-color: #000000;
$color-white: #fff;
$color-green: #8fffab;

$base-btn-color: #f04b4c;

$border-radius: 15px;

.form-container {
  padding: 1rem;
  border-radius: $border-radius;
  width: 100%;
  height: 100%;

  .success-msg {
    color: $primary-color;
    background: $color-green;
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 0.5rem;
    border-radius: $border-radius;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
  }

  h1 {
    font-size: 2rem;
    color: $text-color;
    margin-bottom: 1.5rem;
  }

  label {
    color: $text-color;
  }

  input,
  select,
  textarea {
    color: $input-color;
  }

  label {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    // text-align: left;
    // padding-left: 5px;
  }

  input,
  select,
  textarea {
    border: 2px solid rgba($primary-color, 0.8);
    border-radius: $border-radius;
    padding: 0.5rem 1rem;
    padding-left: 1rem;
    font-size: 1rem;
  }

  textarea {
    min-height: 45px;
  }

  .form-row {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
  }

  button {
    color: $color-white;
    width: 100%;
    font-size: 1.4rem;
    background: $base-btn-color;
    border-radius: $border-radius;
    border: none;
    cursor: pointer;
    padding: 0.4rem 1.2rem;
    margin-top: 0.5rem;

    &:hover {
      background: rgba($base-btn-color, 0.8);
    }
  }

  .input-error {
    border-color: $error-color;
  }

  .error {
    color: $error-color;
    font-size: 1rem;
    margin-top: 0.3rem;
  }

  .disabled-btn {
    cursor: not-allowed;
    background: rgba($base-btn-color, 0.8);
  }

  //   input:disabled,
  //   select:disabled,
  //   textarea:disabled,
  //   button:disabled {
  //     background: #ddd;
  //     cursor: wait;
  //   }
}
