$colorDanger: #ca0b00;

$base-bgcolor: #213159;
$base-color: #e7e7e7;
$base-btn-color: #f04b4c;

$base-font-weight: 300;
$base-font-size: 1rem;
$base-line-height: 1.5;
$base-font-family: Helvetica Neue;
$base-font-family-fallback: sans-serif;

html,
body,
#root,
.App {
  height: 100%;
  font: $base-font-weight #{$base-font-size}/#{$base-line-height}
      $base-font-family,
    $base-font-family-fallback;
  background-color: $base-bgcolor;
  color: $base-color;
}

* {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
  transition: transform 0.15s ease;
  transform: scale(1.01);
}

.error {
  color: $colorDanger;
}

//needed to fix datatable bug
.iRVWcQ {
  overflow: initial !important;
}

.globalLoader {
  .loader {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: wait;
  }

  .loaderBackground {
    background-color: grey;
    opacity: 0.3;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.btn-default {
  color: #fff;
  width: 100%;
  font-size: 1.4rem;
  background: #f04b4c;
  border-radius: 15px !important;
  border: none;
  cursor: pointer;
  padding: 0.4rem 1.2rem;
  margin-top: 0.5rem;
}

.wrapper {
  margin: 30px 0;
}
