/* Only ccs to make things easier to use - can be done using react-bootstrap and css combination as well */
.chat-room-container {
  /* position: fixed; */
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  margin: 16px;
}

.room-name {
  margin-top: 0;
}

.messages-container {
  flex: 1;
  min-height: 100px;
  overflow: none;
  border: 1px solid black;
  border-radius: 7px 7px 0 0;
}

.messages-list {
  list-style-type: none;
  padding: 0;
}

.new-message-input-field {
  height: 200px;
  max-height: 50%;
  font-size: 20px;
  padding: 8px 12px;
  resize: none;
}

.message-item {
  width: 55%;
  margin: 8px;
  padding: 12px 8px;
  word-break: break-word;
  border-radius: 4px;
  color: Black;
}

.my-message {
  background-color: #add8e6;
  margin-left: auto;
  text-align: right;
}

.received-message {
  background-color: #d3d3d3;
  margin-right: auto;
  text-align: left;
}

.messages-container,
.new-message-input-field,
.send-message-button {
  border-color: #9a9a9a;
}

.message-username {
  font-size: 14px;
  color: #9a9a9a;
  font-weight: bold;
}

/* .message-content {
} */
